.App {
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: auto;
  background-color: aqua;
}

form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
}
